/**
 * @file
 * Adds breadcrumb dropdown javascript.
 */

#breadcrumb-dropdown,
#breadcrumb-dropdown ul,
#breadcrumb-dropdown li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#breadcrumb-dropdown {
  margin-top: 15px !important;
}
#breadcrumb-dropdown > li {
  position: relative;
  display: inline-block;
  width: auto;
  margin: 0 10px 10px 0;
}
#breadcrumb-dropdown > li > a,
#breadcrumb-dropdown > li > span {
  display: block;
  padding: 5px 40px 5px 10px;
  background: url(../img/arrow_down.png) no-repeat 100% 12px #aaa;
  color: #fff;
  text-decoration: none;
}
#breadcrumb-dropdown > li > a:hover,
#breadcrumb-dropdown > li > span:hover {
  background-color: #777;
  cursor: pointer;
}

/* siblings */
#breadcrumb-dropdown > li > ul {
  display: none;
  position: absolute;
  top: 34px;
  left: 0;
  padding: 10px 15px;
  border: solid 2px #ddd;
  background: #fff;
  z-index: 999;
}
#breadcrumb-dropdown > li > ul a {
  display: block;
  padding: 2px 0;
  text-decoration: none;
  color: #111;
}
#breadcrumb-dropdown > li > ul a:hover,
#breadcrumb-dropdown > li > ul a.active-trail {
  color: #777;
}

/* level 0 */
#breadcrumb-dropdown .level0 > a {
  padding-right: 10px;
  background-image: none;
}
